.intro {
  width: 100%;
  padding: 0 16px;
  max-width: 440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.intro a {
  display: block;
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;
  border-radius: 100px;
  background: #005c46;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  transition: background 0.2s;
}
.intro a:hover {
  background: var(--e2);
}
.intro li:first-child a {
  color: var(--e4);
  background: var(--gr);
  font: 500 1.25rem/1.2 "BwModelica", sans-serif;
  padding: 12px;
}
.intro li:first-child a:focus,
.intro li:first-child a:hover {
  background: linear-gradient(#eb9200, #eb9200);
}
