/* ------ MODAL ------ */
.modal-bg {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade 0.3s;
}
.modal-bg.active {
  display: block;
}

.modal {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  margin: 64px auto 16px auto;
  padding: 16px;
  box-sizing: border-box;
  background: var(--b1);
  border: 1px solid var(--b2);
  border-radius: 8px;
}

.modal img {
  grid-column: 1/-1;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

.modal .backButton {
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--b2);
  border-radius: 4px;
  box-shadow:
    inset 0 0 0 1px var(--b5),
    0 0 2px rgba(0, 0, 0, 0.15);
  transition: background 0.3s;
}
.modal .backButton:hover,
.modal .backButton:focus {
  background: #d9d9d9;
}

.modal .downloadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  background: var(--gr);
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.modal .downloadButton:hover {
  background: linear-gradient(#eb9200, #eb9200);
}
.modal .downloadButton:focus {
  background: linear-gradient(#eb9200, #eb9200);
}
.modal .downloadButton::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("svg/download.svg");
}

@media (max-width: 500px) {
  .modal {
    border-radius: 0px;
  }
  .modal .downloadButton::before {
    width: 14px;
    height: 14px;
    background-size: contain;
  }
}

@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

