@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --neutral-bg2: #f3f3f3;
  --neutral-bg1: #f8f8f8;
  --neutral-bg0: #ffffff;
  --neutral-tx0: #383838;
  --neutral-tx1: #5f5f5f;
  --neutral-tx2: #969696;
  --neutral-bd0: #e1e1e1;
  --neutral-bd1: #e7e7e7;
  --neutral-inv-tx0: #ffffff;
  --feedback-disabled-bg: #e0e0e0;
  --primary-bg: #f58220;
  --primary-dark-bg: #c25f08;
  --light-shadow: 0 0 4px rgb(0 0 0 / 10%);
  --hover-shadow: 0 0 8px rgb(0 0 0 / 20%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
input,
select {
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--neutral-bg2);
  padding-inline: 1rem;
}

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

.neutral-bg0 {
  background-color: var(--neutral-bg0);
}
.neutral-bg1 {
  background-color: var(--neutral-bg1);
}
.neutral-bg2 {
  background-color: var(--neutral-bg2);
}
.neutral-tx0 {
  color: var(--neutral-tx0);
}
.neutral-tx1 {
  color: var(--neutral-tx1);
}
.neutral-tx2 {
  color: var(--neutral-tx2);
}
.neutral-inv-tx0 {
  color: var(--neutral-inv-tx0);
}
.primary-bg {
  background-color: var(--primary-bg);
}
.primary-dark-bg {
  background-color: var(--primary-dark-bg);
}
.secondary-dark-tx {
  color: var(--secondary-dark-tx);
}

.t-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: "BwModelica", sans-serif;
}
.t-paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  font-family: "BwModelica", sans-serif;
}
.t-label {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "BwModelica", sans-serif;
}
.t-buttonLabel {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "BwModelica", sans-serif;
  letter-spacing: 3%;
}
.t-input {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "BwModelica", sans-serif;
}
