@import "./styles/intro.css";
@import "./styles/logo.css";
@import "./styles/modal.css";
@import "./styles/form.css";

@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --w: #ffffff;
  --b1: #f6f6f6;
  --b2: #e1e1e1;
  --b3: #7b7b7b;
  --b4: #dddddd;
  --b5: #d3d3d3;
  --b6: #aeaeae;
  --e1: #004435;
  --e2: #005744;
  --e3: #b8d9cd;
  --e4: #653f00;
  --gr: linear-gradient(#ff9f02, #eb9200);
}

body,
h1,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
input,
select {
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

body {
  padding-top: 64px;
}
@media (max-width: 500px) {
  body {
    padding-top: 48px;
  }
}

.w {
  color: #ffffff;
}
.b1 {
  color: #f6f6f6;
}
.b2 {
  color: #e1e1e1;
}
.b3 {
  color: #7b7b7b;
}
.b4 {
  color: #dddddd;
}
.b5 {
  color: #d3d3d3;
}
.b6 {
  color: #aeaeae;
}
.e1 {
  color: #005c46;
}
.e2 {
  color: #004635;
}
.e3 {
  color: #b8d9cd;
}
.e4 {
  color: #653f00;
}

.link {
  font:
    400 1.1rem/1.25 "BwModelica",
    sans-serif;
}
.largeText {
  font:
    500 1.25rem/1.2 "BwModelica",
    sans-serif;
}
.label {
  font:
    400 0.875rem/16px "BwModelica",
    sans-serif;
}
.input {
  font:
    400 1rem/1.25 "BwModelica",
    sans-serif;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
