@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BwModelica";
  src: url("./assets/fonts/BwModelica-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --neutral-bg2: #e1e1e1;
  --neutral-bg1: #fafafa;
  --neutral-bg0: #ffffff;
  --neutral-tx0: #383838;
  --neutral-tx1: #6d6d6d;
  --neutral-tx2: #858585;
  --neutral-bd0: #e1e1e1;
  --neutral-bd1: #e7e7e7;

  --neutral-inv-tx0: #ffffff;

  --primary-bg: #005742;
  --primary-dark-bg: #004031;
  --primary-tx: #005742;

  --secondary-bg: #ee8600;
  --secondary-gradient-bg: linear-gradient(#ee8600, #ff9d00);
  --secondary-dark-tx: #653f00;

  --light-shadow: 0 0 4px rgb(0 0 0 / 10%);
  --hover-shadow: 0 0 8px rgb(0 0 0 / 20%);
  --heavy-shadow: 0 0 4px rgb(0 0 0 / 8%), 0 0 16px rgb(0 0 0 / 4%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button,
input,
select {
  background: none;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

.neutral-bg0 {
  background-color: var(--neutral-bg0);
}
.neutral-bg1 {
  background-color: var(--neutral-bg1);
}
.neutral-bg2 {
  background-color: var(--neutral-bg2);
}
.neutral-tx0 {
  color: var(--neutral-tx0);
}
.neutral-tx1 {
  color: var(--neutral-tx1);
}
.neutral-tx2 {
  color: var(--neutral-tx2);
}
.neutral-inv-tx0 {
  color: var(--neutral-inv-tx0);
}
.primary-bg {
  background-color: var(--primary-bg);
}
.primary-dark-bg {
  background-color: var(--primary-dark-bg);
}
.primary-tx {
  color: var(--primary-tx);
}
.secondary-gradient-bg {
  background: var(--secondary-gradient-bg);
}
.secondary-dark-tx {
  color: var(--secondary-dark-tx);
}

.t-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: "BwModelica", sans-serif;
}
.t-paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  font-family: "BwModelica", sans-serif;
}
.t-label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "BwModelica", sans-serif;
}
.t-buttonLabel {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "BwModelica", sans-serif;
  letter-spacing: 3%;
}
.t-input {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  font-family: "BwModelica", sans-serif;
}

.link {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.25;
  font-family: "BwModelica", sans-serif;
}
