.header {
  width: min(800px, 100%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  margin-inline: auto;
  padding-block: 3rem;
}

.header-logo {
  width: min(20rem, 100%);
}

.header-description {
  width: 100%;
  padding-left: 2rem;
  border-left: 2px solid var(--neutral-bd0);
}

.header-description h1 {
  margin-bottom: 0.25rem;
}

.mainContainer {
  width: min(800px, 100%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 3rem;
  margin-inline: auto;
  padding: 2rem;
  border: 1px solid var(--neutral-bd0);
  border-radius: 16px;
  box-shadow: var(--light-shadow);
}

.form {
  width: 100%;
  border-radius: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-field input,
.form-field select {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--light-shadow);
  transition: background-color 300ms;
}
.form-field input:focus,
.form-field select:focus {
  outline: 2px solid var(--neutral-bd0);
  outline-offset: 2px;
}
.form-field input:hover,
.form-field select:hover {
  background-color: var(--neutral-bg1);
}

.form-field-name {
  margin-bottom: 1.5rem;
}

.form-field-name input::placeholder {
  color: var(--neutral-tx2);
}

.form-field-pattern {
  position: relative;
  margin-bottom: 2rem;
}
.form-field-pattern::after {
  content: "";
  width: 1rem;
  height: 0.75rem;
  display: block;
  background: url("/svg/down-arrow.svg") no-repeat center;
  background-size: 100% 100%;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  bottom: 1.25rem;
  transition: rotate 300ms;
}
.form-field-pattern:has(select:open)::after {
  rotate: 180deg;
}

.form-field-pattern select {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  position: relative;
}

.form-downloadLink {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  background-color: var(--feedback-disabled-bg);
  user-select: none;
  cursor: not-allowed;
  text-transform: uppercase;
  transition:
    300ms box-shadow,
    300ms background-color;
}
.form-downloadLink[data-available="true"]:hover {
  background-color: var(--primary-dark-bg);
  box-shadow: var(--hover-shadow);
}
.form-downloadLink[data-available="true"]:focus {
  outline: 2px solid var(--primary-bg);
  outline-offset: 2px;
}
.form-downloadLink[data-available="true"] {
  color: var(--neutral-inv-tx0);
  background-color: var(--primary-bg);
  box-shadow: var(--light-shadow);
  cursor: pointer;
}

.form-downloadLink svg {
  color: var(--neutral-tx2);
  transition: 300ms color;
}
.form-downloadLink[data-available="true"] svg {
  color: var(--neutral-inv-tx0);
}

.preview {
  min-height: 37.5rem;
  display: grid;
  justify-content: center;
  align-items: start;
}

.preview-noImageText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  padding: 1rem;
  text-align: center;
  opacity: 0;
  transition: 300ms opacity;
}
.preview-noImageText[data-show="true"] {
  opacity: 1;
}

.preview-loading {
  width: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  opacity: 0;
  animation: loading 2s ease-in-out infinite;
  transition: 300ms opacity;
}
.preview-loading[data-show="true"] {
  opacity: 1;
}

.preview-image {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  border-radius: 8px;
  opacity: 0;
  transition: 200ms opacity;
  outline: 1px solid var(--neutral-bd0);
}
.preview-image[data-show="true"] {
  opacity: 1;
}

.credits {
  text-align: center;
  padding-block: 2rem;
}

@media (max-width: 800px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }

  .preview {
    min-height: auto;
  }

  .preview-noImageText {
    padding: 0;
  }

  .preview-loading {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .header {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header-description {
    width: 100%;
    padding-left: 0;
    margin-block: 0;
    border-left: none;
    text-align: center;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
